# =============== #
# Unity generated #
# =============== #
warlords/Temp/
warlords/Library/
warlords/.vs/*
warlords/warlords.CSharp.csproj
warlords/warlords.exe
warlords/warlords_Data/
warlords/player_win_x86.pdb
warlords/player_win_x86_s.pdb


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
warlords/ExportedObj/
warlords/obj/
warlords/*.svd
warlords/*.userprefs
warlords/*.csproj
warlords/*.pidb
warlords/*.suo
warlords/*.sln
warlords/*.user
warlords/*.unityproj
warlords/*.booproj

# ============ #
# OS generated #
# ============ #
warlords/.DS_Store
warlords/.DS_Store?
warlords/._*
warlords/.Spotlight-V100
warlords/.Trashes
warlords/ehthumbs.db
warlords/Thumbs.db
