# =============== #
# Unity generated #
# =============== #
warlords/Temp/
warlords/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
warlords/ExportedObj/
warlords/obj/
warlords/*.svd
warlords/*.userprefs
warlords/*.csproj
warlords/*.pidb
warlords/*.suo
warlords/*.sln
warlords/*.user
warlords/*.unityproj
warlords/*.booproj

# ============ #
# OS generated #
# ============ #
warlords/.DS_Store
warlords/.DS_Store?
warlords/._*
warlords/.Spotlight-V100
warlords/.Trashes
warlords/ehthumbs.db
warlords/Thumbs.db
